/* Default stylings, per normalize.css */

* {
	font-family: 'Open Sans', sans-serif;
}

body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3, p {
	color: #444444;
    margin:0;
}

h1, h2, h3 {
    letter-spacing: 1px;
}

a {
    text-decoration:none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/* MAIN PAGE */
body {
	box-sizing: border-box;
	display: flex;
	padding: 50px;
}

div#content, div#image-container {
	height: 100%;
	width: 50%;
}

div.image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: none;
}

div#content {
	display: flex;
	flex-direction: column;
	margin-right: 50px;
}

div#content p {
	flex-grow: 1;
	font-size: 14px;
	line-height: 28px;
}

div#content .social a {
	color: #444444;
	padding-right: 15px;
}

@media (max-width: 1100px)  {
	div#content p {
		font-size: 12px;
		line-height: 24px;
	}
}

@media (max-width: 848px)  {
	body {
		display: block;
	}
	div#content {
		display: block;
		width: 100%;
		height: auto;
	}
	div#content p {
		margin-bottom: 25px;
	}
	div#image-container {
		margin: 50px 0;
		height: 300px;
		width: 100%;
	}
}	